<html>
    <body>
        <form name = "form" action = "{% url 'signup' %}"
            method = "POST" >{% csrf_token %}
            <center>
                <input type = "text"
                    placeholder = "user name" name = "username" >
            <br>
            <br>
                <input type = "password"
                    placeholder = "password" name = "password" />
            <br>
            <br>
                <input type = "text"
                placeholder = "email" name = "email" />
            <br>
            <br>
                <button style = "border:0px; background-color:#4285F4;" type = "submit"
                    value = "Submit" >
                    <strong>Submit</strong>
                </button>
            </center>
        </form>
    </body>
</html>
